<div class="Page">
<mat-card class="CardStyle">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <div class="Header">
          <h1>Sign in</h1>
        </div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" formControlName="userName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>
      <div class="SubBtn">
        <button mat-raised-button  type="submit" color="primary">Log In</button>
      </div>
  </form>
</mat-card>
</div>
