<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <div class="Page">
    <mat-card class="CardStyle">
      <div class="Header">
        <h1>Sign in</h1>
      </div>


      <div>
        <div class="BtnT">
          <input type="text" placeholder="User Name" class="BtnT" formControlName="userName">
        </div>
        <div class="BtnT">
          <input type="text" placeholder="Password" class="BtnT" formControlName="password">
        </div>
      </div>

      <div *ngIf="validationErr()">
        <span style="color: crimson">Invalid Username or Password</span>
      </div>

      <div>
        <button type="submit" class="SubBtn">
          Log In
        </button>
      </div>
    </mat-card>
  </div>
</form>
<!-- <router-outlet></router-outlet> -->
