.tool-bar-list {
  display: flex;
  flex-direction: column;
}


.inner-card {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 20px;
}


.toolbar-btn {
  background-color: transparent;
  border-width: 0px;
  border-color: #ffffff;
}
